<div class="row">
	<div class="col-md-4">

		<h1>Register</h1>
		<hr>
		<br>
		<form ng-submit="authRegisterCtrl.onRegister()" novalidate>

			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" placeholder="enter username"
					   ng-model="authRegisterCtrl.user.username" required>
			</div>
			<div class="form-group">
				<label for="phone">Phone/Mobile #</label>
				<input type="text" class="form-control" id="phone" placeholder="enter phone"
					   ng-model="authRegisterCtrl.user.phone" required>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a ng-click="authRegisterCtrl.onGo()" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Login</a>
		</form>
	</div>
</div>
